header {
  height: 10vh;
}


h1 {
  color: #0a6381;
  font-weight: bold;
}

body {
  margin: 20px;
}

label,input {
  font-size: 20px;
  color: #0a6381;
}

li {
  font-size: 18px;
  color: #0a6381;
  margin: 8px;
}

button {
  font-size: 16px;
  background: #0a6381;
  color: #ffffff;
  width: 120px;
  height: 30px;
}
